class CreateLlmCredentials < ActiveRecord::Migration[<%= ActiveRecord::Migration.current_version %>]
  def change
    create_table :llm_credentials do |t|
      t.references :owner, polymorphic: true, null: false
      t.string :provider, null: false
      t.string :model, null: false
      t.text :api_key, null: false
      t.integer :position, null: false

      t.timestamps
    end

    add_index :llm_credentials, [ :owner_type, :owner_id, :position ], unique: true, name: "index_llm_credentials_on_owner_and_position"
  end
end
